# Load (Integrate) data

In [5]:
# Import libraries
import numpy as np
import pandas as pd

import os

In [6]:
# Read data from csv files
data_path = './data/'

professional_df = pd.read_csv(os.path.join(data_path, 'Depression_Professional_Dataset.csv'))
student_df = pd.read_csv(os.path.join(data_path, 'Depression_Student_Dataset.csv'))

## Overview

In [7]:
professional_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2054 entries, 0 to 2053
Data columns (total 11 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Gender                                 2054 non-null   object
 1   Age                                    2054 non-null   int64
 2   Work Pressure                          2054 non-null   float64
 3   Job Satisfaction                       2054 non-null   float64
 4   Sleep Duration                         2054 non-null   object
 5   Dietary Habits                         2054 non-null   object
 6   Have you ever had suicidal thoughts ?  2054 non-null   object
 7   Work Hours                             2054 non-null   int64
 8   Financial Stress                       2054 non-null   int64
 9   Family History of Mental Illness       2054 non-null   object
 10  Depression                             2054 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 176.6+ KB

In [8]:
professional_df.head()

,Gender,Age,Work Pressure,Job Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Work Hours,Financial Stress,Family History of Mental Illness,Depression
0,Female,37,2.0,4.0,7-8 hours,Moderate,No,6,2,No,No
1,Male,60,4.0,3.0,5-6 hours,Unhealthy,Yes,0,4,Yes,No
2,Female,42,2.0,3.0,5-6 hours,Moderate,No,0,2,No,No
3,Female,44,3.0,5.0,7-8 hours,Healthy,Yes,1,2,Yes,No
4,Male,48,4.0,3.0,7-8 hours,Moderate,Yes,6,5,Yes,No

In [9]:
student_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 11 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Gender                                 502 non-null    object
 1   Age                                    502 non-null    int64
 2   Academic Pressure                      502 non-null    float64
 3   Study Satisfaction                     502 non-null    float64
 4   Sleep Duration                         502 non-null    object
 5   Dietary Habits                         502 non-null    object
 6   Have you ever had suicidal thoughts ?  502 non-null    object
 7   Study Hours                            502 non-null    int64
 8   Financial Stress                       502 non-null    int64
 9   Family History of Mental Illness       502 non-null    object
 10  Depression                             502 non-null    object
dtypes: float64(2), int64(3), object(6)
memory usage: 43.3+ KB

In [10]:
student_df.head()

,Gender,Age,Academic Pressure,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Male,28,2.0,4.0,7-8 hours,Moderate,Yes,9,2,Yes,No
1,Male,28,4.0,5.0,5-6 hours,Healthy,Yes,7,1,Yes,No
2,Male,25,1.0,3.0,5-6 hours,Unhealthy,Yes,10,4,No,Yes
3,Male,23,1.0,4.0,More than 8 hours,Unhealthy,Yes,7,2,Yes,No
4,Female,31,1.0,5.0,More than 8 hours,Healthy,Yes,4,2,Yes,No

In [11]:
def analyze_columns(df, dataset_name):
    print(f"Dataset: {dataset_name}:")
    for col in df.columns:
        print(f"\tColumn: {col}")
        if df[col].dtype in ['object', 'str'] or df[col].nunique() < 4:  # Categorical condition
            unique_values = df[col].dropna().unique()
            mode_val = df[col].mode()[0] if not df[col].mode().empty else "No mode"
            print(f"\t\tType: Categorical")
            print(f"\t\tValues: {unique_values}")
            print(f"\t\tMode: {mode_val}")
        else:  # Numerical condition
            min_val = df[col].min()
            max_val = df[col].max()
            median_val = df[col].median()
            mode_val = df[col].mode()[0] if not df[col].mode().empty else "No mode"
            std_val = df[col].std()
            print(f"\t\tType: Numerical")
            print(f"\t\tRange: [{min_val}, {max_val}]")
            print(f"\t\tMedian: {median_val}")
            print(f"\t\tStandard Deviation: {std_val}")
            print(f"\t\tMode: {mode_val}")

analyze_columns(student_df, "Student")
print("="*50)
analyze_columns(professional_df, "Professional")

Dataset: Student:
	Column: Gender
		Type: Categorical
		Values: ['Male' 'Female']
		Mode: Male
	Column: Age
		Type: Numerical
		Range: [18, 34]
		Median: 26.5
		Standard Deviation: 4.896500575608593
		Mode: 28
	Column: Academic Pressure
		Type: Numerical
		Range: [1.0, 5.0]
		Median: 3.0
		Standard Deviation: 1.3900071309517898
		Mode: 3.0
	Column: Study Satisfaction
		Type: Numerical
		Range: [1.0, 5.0]
		Median: 3.0
		Standard Deviation: 1.3734897392498213
		Mode: 4.0
	Column: Sleep Duration
		Type: Categorical
		Values: ['7-8 hours' '5-6 hours' 'More than 8 hours' 'Less than 5 hours']
		Mode: 7-8 hours
	Column: Dietary Habits
		Type: Categorical
		Values: ['Moderate' 'Healthy' 'Unhealthy']
		Mode: Moderate
	Column: Have you ever had suicidal thoughts ?
		Type: Categorical
		Values: ['Yes' 'No']
		Mode: Yes
	Column: Study Hours
		Type: Numerical
		Range: [0, 12]
		Median: 7.0
		Standard Deviation: 3.742433579762453
		Mode: 10
	Column: Financial Stress
		Type: Numerical
		Range: [1, 5]
		Median: 3.0
		Standard Deviation: 1.4250526668092287
		Mode: 1
	Column: Family History of Mental Illness
		Type: Categorical
		Values: ['Yes' 'No']
		Mode: No
	Column: Depression
		Type: Categorical
		Values: ['No' 'Yes']
		Mode: Yes
==================================================
Dataset: Professional:
	Column: Gender
		Type: Categorical
		Values: ['Female' 'Male']
		Mode: Male
	Column: Age
		Type: Numerical
		Range: [18, 60]
		Median: 43.0
		Standard Deviation: 11.46120191304482
		Mode: 56
	Column: Work Pressure
		Type: Numerical
		Range: [1.0, 5.0]
		Median: 3.0
		Standard Deviation: 1.4173124335300835
		Mode: 5.0
	Column: Job Satisfaction
		Type: Numerical
		Range: [1.0, 5.0]
		Median: 3.0
		Standard Deviation: 1.4184320240775232
		Mode: 2.0
	Column: Sleep Duration
		Type: Categorical
		Values: ['7-8 hours' '5-6 hours' 'More than 8 hours' 'Less than 5 hours']
		Mode: 7-8 hours
	Column: Dietary Habits
		Type: Categorical
		Values: ['Moderate' 'Unhealthy' 'Healthy']
		Mode: Unhealthy
	Column: Have you ever had suicidal thoughts ?
		Type: Categorical
		Values: ['No' 'Yes']
		Mode: No
	Column: Work Hours
		Type: Numerical
		Range: [0, 12]
		Median: 6.0
		Standard Deviation: 3.7739450197252284
		Mode: 9
	Column: Financial Stress
		Type: Numerical
		Range: [1, 5]
		Median: 3.0
		Standard Deviation: 1.41336213427113
		Mode: 2
	Column: Family History of Mental Illness
		Type: Categorical
		Values: ['No' 'Yes']
		Mode: No
	Column: Depression
		Type: Categorical
		Values: ['No' 'Yes']
		Mode: No

# Clean data

## Missing values

In [12]:
student_df.isnull().sum()

Gender                                   0
Age                                      0
Academic Pressure                        0
Study Satisfaction                       0
Sleep Duration                           0
Dietary Habits                           0
Have you ever had suicidal thoughts ?    0
Study Hours                              0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [13]:
professional_df.isnull().sum()

Gender                                   0
Age                                      0
Work Pressure                            0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Have you ever had suicidal thoughts ?    0
Work Hours                               0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

**Nhận xét:** Trong cả hai dataset, có **5** cột có dữ liệu chứa giá trị `null`: **Age**, **Sleep Duration**, **Dietary Habits**, **Family History of Mental Illness** và **Depression**

1. **Age**: Dữ liệu của cột này thuộc loại **Numerical**. Dựa vào các giá trị thống kê, nhóm quyết định thay thế các giá trị `null` bằng **trung vị** của cột. Lý do:
    - **Student Dataset** có `median = 26.0` và có phạm vi tuổi khá hẹp (18 - 34). Điền bằng trung vị là lựa chọn phù hợp vì nó không bị ảnh hưởng quá nhiều bởi các giá trị ngoại lai và giúp duy trì tính đại diện của dữ liệu.
    - **Professional Dataset** `có median = 43.0`. Độ lệch chuẩn của độ tuổi khá cao (`std = 11.46`), cho thấy dữ liệu tuổi có thể hơi phân tán. Điền giá trị thiếu bằng trung vị sẽ ít bị ảnh hưởng bởi các giá trị ngoại lai, giúp duy trì sự ổn định của dữ liệu.


2. **Sleep Duration**, **Dietary Habits**, **Family History of Mental Illness**: Thay thế giá trị `null` bằng `mode` của cột (giá trị xuất hiện nhiều nhất trong cột đó).Điều này giúp duy trì phân phối dữ liệu và ít làm ảnh hưởng đến đặc điểm của dataset.
3. **Depression**: Loại bỏ các hàng có giá trị `null`:
    
    - Đây là biến mục tiêu cho việc dự đoán của các mô hình học máy (sẽ triển khai trong các phần sau), nên việc điền giá trị không chính xác vào cột này sẽ ảnh hưởng đến kết quả phân tích.
    - Số lượng giá trị `null` không nhiều (`13/2054` cho dataset **Professional** và `9/502` cho dataset **Student**)

In [14]:
# Handle missing values for Student Dataset

# Fill missing values in "Age" with median
student_df['Age'].fillna(student_df['Age'].median(), inplace=True)

# Fill missing values in "Sleep Duration", "Dietary Habits", "Family History of Mental Illness" with mode
student_df['Sleep Duration'].fillna(student_df['Sleep Duration'].mode()[0], inplace=True)
student_df['Dietary Habits'].fillna(student_df['Dietary Habits'].mode()[0], inplace=True)
student_df['Family History of Mental Illness'].fillna(student_df['Family History of Mental Illness'].mode()[0], inplace=True)

# Drop rows where "Depression" is null
student_df.dropna(subset=['Depression'], inplace=True)

student_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 11 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Gender                                 502 non-null    object
 1   Age                                    502 non-null    int64
 2   Academic Pressure                      502 non-null    float64
 3   Study Satisfaction                     502 non-null    float64
 4   Sleep Duration                         502 non-null    object
 5   Dietary Habits                         502 non-null    object
 6   Have you ever had suicidal thoughts ?  502 non-null    object
 7   Study Hours                            502 non-null    int64
 8   Financial Stress                       502 non-null    int64
 9   Family History of Mental Illness       502 non-null    object
 10  Depression                             502 non-null    object
dtypes: float64(2), int64(3), object(6)
memory usage: 43.3+ KB

C:\Users\Admin\AppData\Local\Temp\ipykernel_16492\697036341.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  student_df['Age'].fillna(student_df['Age'].median(), inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_16492\697036341.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  student_df['Sleep Duration'].fillna(student_df['Sleep Duration'].mode()[0], inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_16492\697036341.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  student_df['Dietary Habits'].fillna(student_df['Dietary Habits'].mode()[0], inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_16492\697036341.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  student_df['Family History of Mental Illness'].fillna(student_df['Family History of Mental Illness'].mode()[0], inplace=True)

In [15]:
# Handle missing values for Professional Dataset

# Fill missing values in "Age" with median
professional_df['Age'] = professional_df['Age'].fillna(professional_df['Age'].median())

# Fill missing values in "Sleep Duration", "Dietary Habits", "Family History of Mental Illness" with mode
professional_df['Sleep Duration'] = professional_df['Sleep Duration'].fillna(professional_df['Sleep Duration'].mode()[0])
professional_df['Dietary Habits'] = professional_df['Dietary Habits'].fillna(professional_df['Dietary Habits'].mode()[0])
professional_df['Family History of Mental Illness'] = professional_df['Family History of Mental Illness'].fillna(professional_df['Family History of Mental Illness'].mode()[0])

# Drop rows where "Depression" is null
professional_df = professional_df.dropna(subset=['Depression'])

professional_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2054 entries, 0 to 2053
Data columns (total 11 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Gender                                 2054 non-null   object
 1   Age                                    2054 non-null   int64
 2   Work Pressure                          2054 non-null   float64
 3   Job Satisfaction                       2054 non-null   float64
 4   Sleep Duration                         2054 non-null   object
 5   Dietary Habits                         2054 non-null   object
 6   Have you ever had suicidal thoughts ?  2054 non-null   object
 7   Work Hours                             2054 non-null   int64
 8   Financial Stress                       2054 non-null   int64
 9   Family History of Mental Illness       2054 non-null   object
 10  Depression                             2054 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 176.6+ KB

## Duplicate values

In [16]:
print(student_df.duplicated().sum())
print(professional_df.duplicated().sum())

0
0

# Transform data

Trong cả hai dataset, nhóm tiến hành một số bước để transform được dữ liệu như sau:

1. Chuẩn hoá tên các cột tuân theo quy tắc **snake_case**. Ví dụ: `"Sleep Duration"` → `"sleep_duration"`

2. Thống nhất tên của một số cột. Ví dụ: `"Academic Pressure"` (Student) và `"Work Pressure"` (Professional) → `"work_pressure"`

3. Thêm field `"dataset"` để xác định record thuộc dataset nào

4. Concat 2 dataset

5. Tối ưu kiểu dữ liệu của một số cột: Ví dụ: `"work_pressure"` (Student) đang có kiểu dữ liệu là `float64` nhưng các giá trị của cột là `[1.0 2.0 3.0 4.0 5.0]`  → chuyển về `int64` để tối ưu hơn cho việc sử dụng sau này

6. Lưu lại dataset cuối cùng

In [17]:
# Step 1 + Step 2: Standardize columns name
student_df.rename(columns={
    'Gender': 'gender',
    'Age': 'age',
    'Academic Pressure': 'work_pressure',
    'Study Satisfaction': 'work_satisfaction',
    'Sleep Duration': 'sleep_duration',
    'Dietary Habits': 'dietary_habits',
    'Have you ever had suicidal thoughts ?': 'suicidal_thoughts',
    'Study Hours': 'work_hours',
    'Financial Stress': 'financial_stress',
    'Family History of Mental Illness': 'family_mental_illness_history',
    'Depression': 'depression'
}, inplace=True)

professional_df.rename(columns={
    'Gender': 'gender',
    'Age': 'age',
    'Work Pressure': 'work_pressure',
    'Job Satisfaction': 'work_satisfaction',
    'Sleep Duration': 'sleep_duration',
    'Dietary Habits': 'dietary_habits',
    'Have you ever had suicidal thoughts ?': 'suicidal_thoughts',
    'Work Hours': 'work_hours',
    'Financial Stress': 'financial_stress',
    'Family History of Mental Illness': 'family_mental_illness_history',
    'Depression': 'depression'
}, inplace=True)

In [ ]:
# Step 3: Add identify field
student_df['from_source'] = 'Student'
professional_df['from_source'] = 'Professional'

In [19]:
# Step 4: Concat
combined_df = pd.concat([student_df, professional_df], ignore_index=True)

combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2556 entries, 0 to 2555
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   gender                         2556 non-null   object
 1   age                            2556 non-null   int64
 2   work_pressure                  2556 non-null   float64
 3   work_satisfaction              2556 non-null   float64
 4   sleep_duration                 2556 non-null   object
 5   dietary_habits                 2556 non-null   object
 6   suicidal_thoughts              2556 non-null   object
 7   work_hours                     2556 non-null   int64
 8   financial_stress               2556 non-null   int64
 9   family_mental_illness_history  2556 non-null   object
 10  depression                     2556 non-null   object
 11  dataset                        2556 non-null   object
dtypes: float64(2), int64(3), object(7)
memory usage: 239.8+ KB

In [20]:
combined_df['depression'] = combined_df['depression'].map(lambda x: x == 'Yes')
combined_df['suicidal_thoughts'] = combined_df['suicidal_thoughts'].map(lambda x: x == 'Yes')
combined_df['family_mental_illness_history'] = combined_df['family_mental_illness_history'].map(lambda x: x == 'Yes')

In [21]:
# Step 5: Optimize types
combined_df['age'] = combined_df['age'].astype('int64')
combined_df['work_pressure'] = combined_df['work_pressure'].astype('int64')
combined_df['work_satisfaction'] = combined_df['work_satisfaction'].astype('int64')

combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2556 entries, 0 to 2555
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   gender                         2556 non-null   object
 1   age                            2556 non-null   int64
 2   work_pressure                  2556 non-null   int64
 3   work_satisfaction              2556 non-null   int64
 4   sleep_duration                 2556 non-null   object
 5   dietary_habits                 2556 non-null   object
 6   suicidal_thoughts              2556 non-null   bool
 7   work_hours                     2556 non-null   int64
 8   financial_stress               2556 non-null   int64
 9   family_mental_illness_history  2556 non-null   bool
 10  depression                     2556 non-null   bool
 11  dataset                        2556 non-null   object
dtypes: bool(3), int64(5), object(4)
memory usage: 187.3+ KB

In [22]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2556 entries, 0 to 2555
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   gender                         2556 non-null   object
 1   age                            2556 non-null   int64
 2   work_pressure                  2556 non-null   int64
 3   work_satisfaction              2556 non-null   int64
 4   sleep_duration                 2556 non-null   object
 5   dietary_habits                 2556 non-null   object
 6   suicidal_thoughts              2556 non-null   bool
 7   work_hours                     2556 non-null   int64
 8   financial_stress               2556 non-null   int64
 9   family_mental_illness_history  2556 non-null   bool
 10  depression                     2556 non-null   bool
 11  dataset                        2556 non-null   object
dtypes: bool(3), int64(5), object(4)
memory usage: 187.3+ KB

In [23]:
combined_df.head()

,gender,age,work_pressure,work_satisfaction,sleep_duration,dietary_habits,suicidal_thoughts,work_hours,financial_stress,family_mental_illness_history,depression,dataset
0,Male,28,2,4,7-8 hours,Moderate,True,9,2,True,False,Student
1,Male,28,4,5,5-6 hours,Healthy,True,7,1,True,False,Student
2,Male,25,1,3,5-6 hours,Unhealthy,True,10,4,False,True,Student
3,Male,23,1,4,More than 8 hours,Unhealthy,True,7,2,True,False,Student
4,Female,31,1,5,More than 8 hours,Healthy,True,4,2,True,False,Student

In [24]:
from model.FactDepression import FACT_DEPRESSION

In [ ]:
# # Step 6: Load to database
for key, row in combined_df.iterrows():  # ✅ Iterate through each row
    data_dict = row.to_dict()  # ✅ Convert row to dictionary
    print('adding record:', key)
    
    FACT_DEPRESSION.add_record(data_dict)  # ✅ Add record using existing function

adding record: 0
adding record: 1
adding record: 2
adding record: 3
adding record: 4
adding record: 5
adding record: 6
adding record: 7
adding record: 8
adding record: 9
adding record: 10
adding record: 11
adding record: 12
adding record: 13
adding record: 14
adding record: 15
adding record: 16
adding record: 17
adding record: 18
adding record: 19
adding record: 20
adding record: 21
adding record: 22
adding record: 23
adding record: 24
adding record: 25

KeyboardInterrupt: